<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Job Management</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-11 mt-5">
            <h2>CREATE JOB</h2>
            <hr>

            <p th:if="${message!=null}" class="text-success" th:text="${message}"></p>
            <p th:if="${error!=null}" class="text-danger" th:text="${error}"></p>

            <form method="POST" th:action="@{/jobs}">
                <div class="mb-3">
                    <label for="title" class="form-label">Job title</label>
                    <input type="text" class="form-control" id="title" name="jobTitle"
                           placeholder="Java Developer">
                </div>
                <div class="mb-3">
                    <label for="minSal" class="form-label">Min Salary</label>
                    <input type="number" class="form-control" id="minSal" name="minSal"></input>
                </div>
                <div class="mb-3">
                    <label for="maxSal" class="form-label">Max Salary</label>
                    <input type="number" class="form-control" id="maxSal" name="maxSal"></input>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Job Title</th>
                    <th scope="col">Min Salary</th>
                    <th scope="col">Max Salary</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="job, iterStat : ${jobs}">
                    <th scope="row" th:text="${iterStat.index + 1}"></th>
                    <td th:text="${job.jobTitle}"></td>
                    <td th:text="${job.minSalary}"></td>
                    <td th:text="${job.maxSalary}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/jobs/edit/{id}(id=${job.id})}">Edit</a> |
                        <a class="btn btn-danger" th:href="@{/jobs/delete/{id}(id=${job.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>